@font-face {
  font-family: 'bold';
  src: url('fonts/lato-bold.eot');
  src: url('fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-bold.woff') format('woff'),
  url('fonts/lato-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'black';
  src: url('fonts/lato-black.eot');
  src: url('fonts/lato-black.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-black.woff') format('woff'),
  url('fonts/lato-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'italic';
  src: url('fonts/lato-blackitalic.eot');
  src: url('fonts/lato-blackitalic.eot?#iefix') format('embedded-opentype'),
  url('fonts/lato-blackitalic.woff') format('woff'),
  url('fonts/lato-blackitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'regular';
  src: url('fonts/aliquamreg.eot');
  src: url('fonts/aliquamreg.eot?#iefix') format('embedded-opentype'),
  url('fonts/aliquamreg.woff') format('woff'),
  url('fonts/aliquamreg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontawesome';
  src: url('fonts/fontawesome-webfont-webfont.eot');
  src: url('fonts/fontawesome-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/fontawesome-webfont-webfont.woff2') format('woff2'),
  url('fonts/fontawesome-webfont-webfont.woff') format('woff'),
  url('fonts/fontawesome-webfont-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}