//шрифтовые переменные
$bold:'bold', sans-serif;
$black:'black', sans-serif;
$italic:'italic', sans-serif;
$regular:'regular', sans-serif;

//цветовые переменные
$white: #fff;
$blue-gray: #2c3e50;
$green: #96c332;